<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>


    <!-- This is MDC value -->
    <!-- We will assign a value to 'logFileName' via Java code -->
    <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFileName</key>
            <defaultValue>System</defaultValue>
        </discriminator>
        <sift>
            <!-- A standard RollingFileAppender, the log file is based on 'logFileName' at runtime  -->
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${logFileName}</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>
                        <!--%d{yyyy-MM-dd HH:mm:ss.SSS} %mdc [%thread] %-5level %logger{36} - %msg%n-->
                        [%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level]%msg%n
                    </Pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>logback.log.%i</FileNamePattern>
                    <!--<MinIndex>1</MinIndex>-->
                    <!--<MaxIndex>12</MaxIndex>-->
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                    <maxHistory>360</maxHistory>
                    <totalSizeCap>20GB</totalSizeCap>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>


    <!--<logger name="dao" level="debug">-->
        <!--<appender-ref ref="FILE-THREAD" />-->
    <!--</logger>-->


    <!--屏蔽PooledDataSource的debug信息-->
    <logger name="org.apache.ibatis.datasource.pooled.PooledDataSource" level="ERROR" additivity="false">
        <appender-ref ref="FILE-THREAD" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE-THREAD"/>
    </root>
</configuration>