<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="XQBHServer.Server.Table.Mapper.DKHXXMapper" >
  <resultMap id="BaseResultMap" type="XQBHServer.Server.Table.Model.DKHXX" >
    <id column="FRDM_U" property="FRDM_U" jdbcType="VARCHAR" />
    <id column="KHBH_U" property="KHBH_U" jdbcType="VARCHAR" />
    <result column="KHMC_U" property="KHMC_U" jdbcType="VARCHAR" />
    <result column="KHDJ_U" property="KHDJ_U" jdbcType="VARCHAR" />
    <result column="IDNO_U" property="IDNO_U" jdbcType="VARCHAR" />
    <result column="DZ_UUU" property="DZ_UUU" jdbcType="VARCHAR" />
    <result column="SXRQ_U" property="SXRQ_U" jdbcType="DATE" />
    <result column="GQRQ_U" property="GQRQ_U" jdbcType="DATE" />
    <result column="CSRQ_U" property="CSRQ_U" jdbcType="DATE" />
    <result column="SJH_UU" property="SJH_UU" jdbcType="VARCHAR" />
    <result column="ZJ_UUU" property="ZJ_UUU" jdbcType="VARCHAR" />
    <result column="JJLXDH" property="JJLXDH" jdbcType="VARCHAR" />
    <result column="WXH_UU" property="WXH_UU" jdbcType="VARCHAR" />
    <result column="ZFBH_U" property="ZFBH_U" jdbcType="VARCHAR" />
    <result column="EMAIL_" property="EMAIL_" jdbcType="VARCHAR" />
    <result column="KHDLZH" property="KHDLZH" jdbcType="VARCHAR" />
    <result column="KHMM_U" property="KHMM_U" jdbcType="VARCHAR" />
    <result column="BZXX_U" property="BZXX_U" jdbcType="VARCHAR" />
    <result column="IP_UUU" property="IP_UUU" jdbcType="VARCHAR" />
    <result column="SCDLRQ" property="SCDLRQ" jdbcType="DATE" />
    <result column="SCDLSJ" property="SCDLSJ" jdbcType="TIME" />
    <result column="SCJYRQ" property="SCJYRQ" jdbcType="DATE" />
    <result column="SCJYXH" property="SCJYXH" jdbcType="INTEGER" />
    <result column="CJRQ_U" property="CJRQ_U" jdbcType="DATE" />
    <result column="CJSJ_U" property="CJSJ_U" jdbcType="TIME" />
    <result column="CJR_U" property="CJR_U" jdbcType="VARCHAR" />
    <result column="WHRQ_U" property="WHRQ_U" jdbcType="DATE" />
    <result column="WHSJ_U" property="WHSJ_U" jdbcType="TIME" />
    <result column="WHR_UU" property="WHR_UU" jdbcType="VARCHAR" />
    <result column="SJC_UU" property="SJC_UU" jdbcType="TIMESTAMP" />
    <result column="JLZT_U" property="JLZT_U" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FRDM_U, KHBH_U, KHMC_U, KHDJ_U, IDNO_U, DZ_UUU, SXRQ_U, GQRQ_U, CSRQ_U, SJH_UU, ZJ_UUU, 
    JJLXDH, WXH_UU, ZFBH_U, EMAIL_, KHDLZH, KHMM_U, BZXX_U, IP_UUU, SCDLRQ, SCDLSJ, SCJYRQ, 
    SCJYXH, CJRQ_U, CJSJ_U, CJR_U, WHRQ_U, WHSJ_U, WHR_UU, SJC_UU, JLZT_U
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="XQBHServer.Server.Table.Model.DKHXXExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dkhxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="XQBHServer.Server.Table.Model.DKHXXKey" >
    select 
    <include refid="Base_Column_List" />
    from dkhxx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and KHBH_U = #{KHBH_U,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.DKHXXKey" >
    delete from dkhxx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and KHBH_U = #{KHBH_U,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="XQBHServer.Server.Table.Model.DKHXXExample" >
    delete from dkhxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="XQBHServer.Server.Table.Model.DKHXX" >
    insert into dkhxx (FRDM_U, KHBH_U, KHMC_U, 
      KHDJ_U, IDNO_U, DZ_UUU, 
      SXRQ_U, GQRQ_U, CSRQ_U, SJH_UU, 
      ZJ_UUU, JJLXDH, WXH_UU, 
      ZFBH_U, EMAIL_, KHDLZH, 
      KHMM_U, BZXX_U, IP_UUU, 
      SCDLRQ, SCDLSJ, SCJYRQ, SCJYXH, 
      CJRQ_U, CJSJ_U, CJR_U, WHRQ_U, 
      WHSJ_U, WHR_UU, SJC_UU, 
      JLZT_U)
    values (#{FRDM_U,jdbcType=VARCHAR}, #{KHBH_U,jdbcType=VARCHAR}, #{KHMC_U,jdbcType=VARCHAR}, 
      #{KHDJ_U,jdbcType=VARCHAR}, #{IDNO_U,jdbcType=VARCHAR}, #{DZ_UUU,jdbcType=VARCHAR}, 
      #{SXRQ_U,jdbcType=DATE}, #{GQRQ_U,jdbcType=DATE}, #{CSRQ_U,jdbcType=DATE}, #{SJH_UU,jdbcType=VARCHAR}, 
      #{ZJ_UUU,jdbcType=VARCHAR}, #{JJLXDH,jdbcType=VARCHAR}, #{WXH_UU,jdbcType=VARCHAR}, 
      #{ZFBH_U,jdbcType=VARCHAR}, #{EMAIL_,jdbcType=VARCHAR}, #{KHDLZH,jdbcType=VARCHAR}, 
      #{KHMM_U,jdbcType=VARCHAR}, #{BZXX_U,jdbcType=VARCHAR}, #{IP_UUU,jdbcType=VARCHAR}, 
      #{SCDLRQ,jdbcType=DATE}, #{SCDLSJ,jdbcType=TIME}, #{SCJYRQ,jdbcType=DATE}, #{SCJYXH,jdbcType=INTEGER}, 
      #{CJRQ_U,jdbcType=DATE}, #{CJSJ_U,jdbcType=TIME}, #{CJR_U,jdbcType=VARCHAR}, #{WHRQ_U,jdbcType=DATE}, 
      #{WHSJ_U,jdbcType=TIME}, #{WHR_UU,jdbcType=VARCHAR}, #{SJC_UU,jdbcType=TIMESTAMP}, 
      #{JLZT_U,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="XQBHServer.Server.Table.Model.DKHXX" >
    insert into dkhxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        FRDM_U,
      </if>
      <if test="KHBH_U != null" >
        KHBH_U,
      </if>
      <if test="KHMC_U != null" >
        KHMC_U,
      </if>
      <if test="KHDJ_U != null" >
        KHDJ_U,
      </if>
      <if test="IDNO_U != null" >
        IDNO_U,
      </if>
      <if test="DZ_UUU != null" >
        DZ_UUU,
      </if>
      <if test="SXRQ_U != null" >
        SXRQ_U,
      </if>
      <if test="GQRQ_U != null" >
        GQRQ_U,
      </if>
      <if test="CSRQ_U != null" >
        CSRQ_U,
      </if>
      <if test="SJH_UU != null" >
        SJH_UU,
      </if>
      <if test="ZJ_UUU != null" >
        ZJ_UUU,
      </if>
      <if test="JJLXDH != null" >
        JJLXDH,
      </if>
      <if test="WXH_UU != null" >
        WXH_UU,
      </if>
      <if test="ZFBH_U != null" >
        ZFBH_U,
      </if>
      <if test="EMAIL_ != null" >
        EMAIL_,
      </if>
      <if test="KHDLZH != null" >
        KHDLZH,
      </if>
      <if test="KHMM_U != null" >
        KHMM_U,
      </if>
      <if test="BZXX_U != null" >
        BZXX_U,
      </if>
      <if test="IP_UUU != null" >
        IP_UUU,
      </if>
      <if test="SCDLRQ != null" >
        SCDLRQ,
      </if>
      <if test="SCDLSJ != null" >
        SCDLSJ,
      </if>
      <if test="SCJYRQ != null" >
        SCJYRQ,
      </if>
      <if test="SCJYXH != null" >
        SCJYXH,
      </if>
      <if test="CJRQ_U != null" >
        CJRQ_U,
      </if>
      <if test="CJSJ_U != null" >
        CJSJ_U,
      </if>
      <if test="CJR_U != null" >
        CJR_U,
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U,
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U,
      </if>
      <if test="WHR_UU != null" >
        WHR_UU,
      </if>
      <if test="SJC_UU != null" >
        SJC_UU,
      </if>
      <if test="JLZT_U != null" >
        JLZT_U,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        #{FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="KHBH_U != null" >
        #{KHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="KHMC_U != null" >
        #{KHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="KHDJ_U != null" >
        #{KHDJ_U,jdbcType=VARCHAR},
      </if>
      <if test="IDNO_U != null" >
        #{IDNO_U,jdbcType=VARCHAR},
      </if>
      <if test="DZ_UUU != null" >
        #{DZ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SXRQ_U != null" >
        #{SXRQ_U,jdbcType=DATE},
      </if>
      <if test="GQRQ_U != null" >
        #{GQRQ_U,jdbcType=DATE},
      </if>
      <if test="CSRQ_U != null" >
        #{CSRQ_U,jdbcType=DATE},
      </if>
      <if test="SJH_UU != null" >
        #{SJH_UU,jdbcType=VARCHAR},
      </if>
      <if test="ZJ_UUU != null" >
        #{ZJ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="JJLXDH != null" >
        #{JJLXDH,jdbcType=VARCHAR},
      </if>
      <if test="WXH_UU != null" >
        #{WXH_UU,jdbcType=VARCHAR},
      </if>
      <if test="ZFBH_U != null" >
        #{ZFBH_U,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL_ != null" >
        #{EMAIL_,jdbcType=VARCHAR},
      </if>
      <if test="KHDLZH != null" >
        #{KHDLZH,jdbcType=VARCHAR},
      </if>
      <if test="KHMM_U != null" >
        #{KHMM_U,jdbcType=VARCHAR},
      </if>
      <if test="BZXX_U != null" >
        #{BZXX_U,jdbcType=VARCHAR},
      </if>
      <if test="IP_UUU != null" >
        #{IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SCDLRQ != null" >
        #{SCDLRQ,jdbcType=DATE},
      </if>
      <if test="SCDLSJ != null" >
        #{SCDLSJ,jdbcType=TIME},
      </if>
      <if test="SCJYRQ != null" >
        #{SCJYRQ,jdbcType=DATE},
      </if>
      <if test="SCJYXH != null" >
        #{SCJYXH,jdbcType=INTEGER},
      </if>
      <if test="CJRQ_U != null" >
        #{CJRQ_U,jdbcType=DATE},
      </if>
      <if test="CJSJ_U != null" >
        #{CJSJ_U,jdbcType=TIME},
      </if>
      <if test="CJR_U != null" >
        #{CJR_U,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="XQBHServer.Server.Table.Model.DKHXXExample" resultType="java.lang.Integer" >
    select count(*) from dkhxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dkhxx
    <set >
      <if test="record.FRDM_U != null" >
        FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="record.KHBH_U != null" >
        KHBH_U = #{record.KHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="record.KHMC_U != null" >
        KHMC_U = #{record.KHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="record.KHDJ_U != null" >
        KHDJ_U = #{record.KHDJ_U,jdbcType=VARCHAR},
      </if>
      <if test="record.IDNO_U != null" >
        IDNO_U = #{record.IDNO_U,jdbcType=VARCHAR},
      </if>
      <if test="record.DZ_UUU != null" >
        DZ_UUU = #{record.DZ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="record.SXRQ_U != null" >
        SXRQ_U = #{record.SXRQ_U,jdbcType=DATE},
      </if>
      <if test="record.GQRQ_U != null" >
        GQRQ_U = #{record.GQRQ_U,jdbcType=DATE},
      </if>
      <if test="record.CSRQ_U != null" >
        CSRQ_U = #{record.CSRQ_U,jdbcType=DATE},
      </if>
      <if test="record.SJH_UU != null" >
        SJH_UU = #{record.SJH_UU,jdbcType=VARCHAR},
      </if>
      <if test="record.ZJ_UUU != null" >
        ZJ_UUU = #{record.ZJ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="record.JJLXDH != null" >
        JJLXDH = #{record.JJLXDH,jdbcType=VARCHAR},
      </if>
      <if test="record.WXH_UU != null" >
        WXH_UU = #{record.WXH_UU,jdbcType=VARCHAR},
      </if>
      <if test="record.ZFBH_U != null" >
        ZFBH_U = #{record.ZFBH_U,jdbcType=VARCHAR},
      </if>
      <if test="record.EMAIL_ != null" >
        EMAIL_ = #{record.EMAIL_,jdbcType=VARCHAR},
      </if>
      <if test="record.KHDLZH != null" >
        KHDLZH = #{record.KHDLZH,jdbcType=VARCHAR},
      </if>
      <if test="record.KHMM_U != null" >
        KHMM_U = #{record.KHMM_U,jdbcType=VARCHAR},
      </if>
      <if test="record.BZXX_U != null" >
        BZXX_U = #{record.BZXX_U,jdbcType=VARCHAR},
      </if>
      <if test="record.IP_UUU != null" >
        IP_UUU = #{record.IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="record.SCDLRQ != null" >
        SCDLRQ = #{record.SCDLRQ,jdbcType=DATE},
      </if>
      <if test="record.SCDLSJ != null" >
        SCDLSJ = #{record.SCDLSJ,jdbcType=TIME},
      </if>
      <if test="record.SCJYRQ != null" >
        SCJYRQ = #{record.SCJYRQ,jdbcType=DATE},
      </if>
      <if test="record.SCJYXH != null" >
        SCJYXH = #{record.SCJYXH,jdbcType=INTEGER},
      </if>
      <if test="record.CJRQ_U != null" >
        CJRQ_U = #{record.CJRQ_U,jdbcType=DATE},
      </if>
      <if test="record.CJSJ_U != null" >
        CJSJ_U = #{record.CJSJ_U,jdbcType=TIME},
      </if>
      <if test="record.CJR_U != null" >
        CJR_U = #{record.CJR_U,jdbcType=VARCHAR},
      </if>
      <if test="record.WHRQ_U != null" >
        WHRQ_U = #{record.WHRQ_U,jdbcType=DATE},
      </if>
      <if test="record.WHSJ_U != null" >
        WHSJ_U = #{record.WHSJ_U,jdbcType=TIME},
      </if>
      <if test="record.WHR_UU != null" >
        WHR_UU = #{record.WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="record.SJC_UU != null" >
        SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="record.JLZT_U != null" >
        JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dkhxx
    set FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      KHBH_U = #{record.KHBH_U,jdbcType=VARCHAR},
      KHMC_U = #{record.KHMC_U,jdbcType=VARCHAR},
      KHDJ_U = #{record.KHDJ_U,jdbcType=VARCHAR},
      IDNO_U = #{record.IDNO_U,jdbcType=VARCHAR},
      DZ_UUU = #{record.DZ_UUU,jdbcType=VARCHAR},
      SXRQ_U = #{record.SXRQ_U,jdbcType=DATE},
      GQRQ_U = #{record.GQRQ_U,jdbcType=DATE},
      CSRQ_U = #{record.CSRQ_U,jdbcType=DATE},
      SJH_UU = #{record.SJH_UU,jdbcType=VARCHAR},
      ZJ_UUU = #{record.ZJ_UUU,jdbcType=VARCHAR},
      JJLXDH = #{record.JJLXDH,jdbcType=VARCHAR},
      WXH_UU = #{record.WXH_UU,jdbcType=VARCHAR},
      ZFBH_U = #{record.ZFBH_U,jdbcType=VARCHAR},
      EMAIL_ = #{record.EMAIL_,jdbcType=VARCHAR},
      KHDLZH = #{record.KHDLZH,jdbcType=VARCHAR},
      KHMM_U = #{record.KHMM_U,jdbcType=VARCHAR},
      BZXX_U = #{record.BZXX_U,jdbcType=VARCHAR},
      IP_UUU = #{record.IP_UUU,jdbcType=VARCHAR},
      SCDLRQ = #{record.SCDLRQ,jdbcType=DATE},
      SCDLSJ = #{record.SCDLSJ,jdbcType=TIME},
      SCJYRQ = #{record.SCJYRQ,jdbcType=DATE},
      SCJYXH = #{record.SCJYXH,jdbcType=INTEGER},
      CJRQ_U = #{record.CJRQ_U,jdbcType=DATE},
      CJSJ_U = #{record.CJSJ_U,jdbcType=TIME},
      CJR_U = #{record.CJR_U,jdbcType=VARCHAR},
      WHRQ_U = #{record.WHRQ_U,jdbcType=DATE},
      WHSJ_U = #{record.WHSJ_U,jdbcType=TIME},
      WHR_UU = #{record.WHR_UU,jdbcType=VARCHAR},
      SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="XQBHServer.Server.Table.Model.DKHXX" >
    update dkhxx
    <set >
      <if test="KHMC_U != null" >
        KHMC_U = #{KHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="KHDJ_U != null" >
        KHDJ_U = #{KHDJ_U,jdbcType=VARCHAR},
      </if>
      <if test="IDNO_U != null" >
        IDNO_U = #{IDNO_U,jdbcType=VARCHAR},
      </if>
      <if test="DZ_UUU != null" >
        DZ_UUU = #{DZ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SXRQ_U != null" >
        SXRQ_U = #{SXRQ_U,jdbcType=DATE},
      </if>
      <if test="GQRQ_U != null" >
        GQRQ_U = #{GQRQ_U,jdbcType=DATE},
      </if>
      <if test="CSRQ_U != null" >
        CSRQ_U = #{CSRQ_U,jdbcType=DATE},
      </if>
      <if test="SJH_UU != null" >
        SJH_UU = #{SJH_UU,jdbcType=VARCHAR},
      </if>
      <if test="ZJ_UUU != null" >
        ZJ_UUU = #{ZJ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="JJLXDH != null" >
        JJLXDH = #{JJLXDH,jdbcType=VARCHAR},
      </if>
      <if test="WXH_UU != null" >
        WXH_UU = #{WXH_UU,jdbcType=VARCHAR},
      </if>
      <if test="ZFBH_U != null" >
        ZFBH_U = #{ZFBH_U,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL_ != null" >
        EMAIL_ = #{EMAIL_,jdbcType=VARCHAR},
      </if>
      <if test="KHDLZH != null" >
        KHDLZH = #{KHDLZH,jdbcType=VARCHAR},
      </if>
      <if test="KHMM_U != null" >
        KHMM_U = #{KHMM_U,jdbcType=VARCHAR},
      </if>
      <if test="BZXX_U != null" >
        BZXX_U = #{BZXX_U,jdbcType=VARCHAR},
      </if>
      <if test="IP_UUU != null" >
        IP_UUU = #{IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SCDLRQ != null" >
        SCDLRQ = #{SCDLRQ,jdbcType=DATE},
      </if>
      <if test="SCDLSJ != null" >
        SCDLSJ = #{SCDLSJ,jdbcType=TIME},
      </if>
      <if test="SCJYRQ != null" >
        SCJYRQ = #{SCJYRQ,jdbcType=DATE},
      </if>
      <if test="SCJYXH != null" >
        SCJYXH = #{SCJYXH,jdbcType=INTEGER},
      </if>
      <if test="CJRQ_U != null" >
        CJRQ_U = #{CJRQ_U,jdbcType=DATE},
      </if>
      <if test="CJSJ_U != null" >
        CJSJ_U = #{CJSJ_U,jdbcType=TIME},
      </if>
      <if test="CJR_U != null" >
        CJR_U = #{CJR_U,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        JLZT_U = #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </set>
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and KHBH_U = #{KHBH_U,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.DKHXX" >
    update dkhxx
    set KHMC_U = #{KHMC_U,jdbcType=VARCHAR},
      KHDJ_U = #{KHDJ_U,jdbcType=VARCHAR},
      IDNO_U = #{IDNO_U,jdbcType=VARCHAR},
      DZ_UUU = #{DZ_UUU,jdbcType=VARCHAR},
      SXRQ_U = #{SXRQ_U,jdbcType=DATE},
      GQRQ_U = #{GQRQ_U,jdbcType=DATE},
      CSRQ_U = #{CSRQ_U,jdbcType=DATE},
      SJH_UU = #{SJH_UU,jdbcType=VARCHAR},
      ZJ_UUU = #{ZJ_UUU,jdbcType=VARCHAR},
      JJLXDH = #{JJLXDH,jdbcType=VARCHAR},
      WXH_UU = #{WXH_UU,jdbcType=VARCHAR},
      ZFBH_U = #{ZFBH_U,jdbcType=VARCHAR},
      EMAIL_ = #{EMAIL_,jdbcType=VARCHAR},
      KHDLZH = #{KHDLZH,jdbcType=VARCHAR},
      KHMM_U = #{KHMM_U,jdbcType=VARCHAR},
      BZXX_U = #{BZXX_U,jdbcType=VARCHAR},
      IP_UUU = #{IP_UUU,jdbcType=VARCHAR},
      SCDLRQ = #{SCDLRQ,jdbcType=DATE},
      SCDLSJ = #{SCDLSJ,jdbcType=TIME},
      SCJYRQ = #{SCJYRQ,jdbcType=DATE},
      SCJYXH = #{SCJYXH,jdbcType=INTEGER},
      CJRQ_U = #{CJRQ_U,jdbcType=DATE},
      CJSJ_U = #{CJSJ_U,jdbcType=TIME},
      CJR_U = #{CJR_U,jdbcType=VARCHAR},
      WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{JLZT_U,jdbcType=VARCHAR}
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and KHBH_U = #{KHBH_U,jdbcType=VARCHAR}
  </update>
</mapper>