<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="XQBHServer.Server.Table.Mapper.DSHXXMapper" >
  <resultMap id="BaseResultMap" type="XQBHServer.Server.Table.Model.DSHXX" >
    <id column="FRDM_U" property="FRDM_U" jdbcType="VARCHAR" />
    <id column="SHBH_U" property="SHBH_U" jdbcType="VARCHAR" />
    <result column="SHMC_U" property="SHMC_U" jdbcType="VARCHAR" />
    <result column="YB_UUU" property="YB_UUU" jdbcType="VARCHAR" />
    <result column="DZ_UUU" property="DZ_UUU" jdbcType="VARCHAR" />
    <result column="SHLXBH" property="SHLXBH" jdbcType="VARCHAR" />
    <result column="KHBH_U" property="KHBH_U" jdbcType="VARCHAR" />
    <result column="KHMC_U" property="KHMC_U" jdbcType="VARCHAR" />
    <result column="ZZJGDM" property="ZZJGDM" jdbcType="VARCHAR" />
    <result column="GLRXM_" property="GLRXM_" jdbcType="VARCHAR" />
    <result column="GLRDH_" property="GLRDH_" jdbcType="VARCHAR" />
    <result column="DQYE_U" property="DQYE_U" jdbcType="DECIMAL" />
    <result column="SHDLBZ" property="SHDLBZ" jdbcType="VARCHAR" />
    <result column="SHMM_U" property="SHMM_U" jdbcType="VARCHAR" />
    <result column="IP_UUU" property="IP_UUU" jdbcType="VARCHAR" />
    <result column="SCDLRQ" property="SCDLRQ" jdbcType="DATE" />
    <result column="SCDLSJ" property="SCDLSJ" jdbcType="TIME" />
    <result column="SCJYRQ" property="SCJYRQ" jdbcType="DATE" />
    <result column="SCJYXH" property="SCJYXH" jdbcType="INTEGER" />
    <result column="CJRQ_U" property="CJRQ_U" jdbcType="DATE" />
    <result column="CJSJ_U" property="CJSJ_U" jdbcType="TIME" />
    <result column="CJR_UU" property="CJR_UU" jdbcType="VARCHAR" />
    <result column="WHRQ_U" property="WHRQ_U" jdbcType="DATE" />
    <result column="WHSJ_U" property="WHSJ_U" jdbcType="TIME" />
    <result column="WHR_UU" property="WHR_UU" jdbcType="VARCHAR" />
    <result column="SJC_UU" property="SJC_UU" jdbcType="TIMESTAMP" />
    <result column="JLZT_U" property="JLZT_U" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FRDM_U, SHBH_U, SHMC_U, YB_UUU, DZ_UUU, SHLXBH, KHBH_U, KHMC_U, ZZJGDM, GLRXM_, GLRDH_, 
    DQYE_U, SHDLBZ, SHMM_U, IP_UUU, SCDLRQ, SCDLSJ, SCJYRQ, SCJYXH, CJRQ_U, CJSJ_U, CJR_UU, 
    WHRQ_U, WHSJ_U, WHR_UU, SJC_UU, JLZT_U
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="XQBHServer.Server.Table.Model.DSHXXExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dshxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="XQBHServer.Server.Table.Model.DSHXXKey" >
    select 
    <include refid="Base_Column_List" />
    from dshxx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and SHBH_U = #{SHBH_U,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.DSHXXKey" >
    delete from dshxx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and SHBH_U = #{SHBH_U,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="XQBHServer.Server.Table.Model.DSHXXExample" >
    delete from dshxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="XQBHServer.Server.Table.Model.DSHXX" >
    insert into dshxx (FRDM_U, SHBH_U, SHMC_U, 
      YB_UUU, DZ_UUU, SHLXBH, 
      KHBH_U, KHMC_U, ZZJGDM, 
      GLRXM_, GLRDH_, DQYE_U, 
      SHDLBZ, SHMM_U, IP_UUU, 
      SCDLRQ, SCDLSJ, SCJYRQ, SCJYXH, 
      CJRQ_U, CJSJ_U, CJR_UU, WHRQ_U, 
      WHSJ_U, WHR_UU, SJC_UU, 
      JLZT_U)
    values (#{FRDM_U,jdbcType=VARCHAR}, #{SHBH_U,jdbcType=VARCHAR}, #{SHMC_U,jdbcType=VARCHAR}, 
      #{YB_UUU,jdbcType=VARCHAR}, #{DZ_UUU,jdbcType=VARCHAR}, #{SHLXBH,jdbcType=VARCHAR}, 
      #{KHBH_U,jdbcType=VARCHAR}, #{KHMC_U,jdbcType=VARCHAR}, #{ZZJGDM,jdbcType=VARCHAR}, 
      #{GLRXM_,jdbcType=VARCHAR}, #{GLRDH_,jdbcType=VARCHAR}, #{DQYE_U,jdbcType=DECIMAL}, 
      #{SHDLBZ,jdbcType=VARCHAR}, #{SHMM_U,jdbcType=VARCHAR}, #{IP_UUU,jdbcType=VARCHAR}, 
      #{SCDLRQ,jdbcType=DATE}, #{SCDLSJ,jdbcType=TIME}, #{SCJYRQ,jdbcType=DATE}, #{SCJYXH,jdbcType=INTEGER}, 
      #{CJRQ_U,jdbcType=DATE}, #{CJSJ_U,jdbcType=TIME}, #{CJR_UU,jdbcType=VARCHAR}, #{WHRQ_U,jdbcType=DATE}, 
      #{WHSJ_U,jdbcType=TIME}, #{WHR_UU,jdbcType=VARCHAR}, #{SJC_UU,jdbcType=TIMESTAMP}, 
      #{JLZT_U,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="XQBHServer.Server.Table.Model.DSHXX" >
    insert into dshxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        FRDM_U,
      </if>
      <if test="SHBH_U != null" >
        SHBH_U,
      </if>
      <if test="SHMC_U != null" >
        SHMC_U,
      </if>
      <if test="YB_UUU != null" >
        YB_UUU,
      </if>
      <if test="DZ_UUU != null" >
        DZ_UUU,
      </if>
      <if test="SHLXBH != null" >
        SHLXBH,
      </if>
      <if test="KHBH_U != null" >
        KHBH_U,
      </if>
      <if test="KHMC_U != null" >
        KHMC_U,
      </if>
      <if test="ZZJGDM != null" >
        ZZJGDM,
      </if>
      <if test="GLRXM_ != null" >
        GLRXM_,
      </if>
      <if test="GLRDH_ != null" >
        GLRDH_,
      </if>
      <if test="DQYE_U != null" >
        DQYE_U,
      </if>
      <if test="SHDLBZ != null" >
        SHDLBZ,
      </if>
      <if test="SHMM_U != null" >
        SHMM_U,
      </if>
      <if test="IP_UUU != null" >
        IP_UUU,
      </if>
      <if test="SCDLRQ != null" >
        SCDLRQ,
      </if>
      <if test="SCDLSJ != null" >
        SCDLSJ,
      </if>
      <if test="SCJYRQ != null" >
        SCJYRQ,
      </if>
      <if test="SCJYXH != null" >
        SCJYXH,
      </if>
      <if test="CJRQ_U != null" >
        CJRQ_U,
      </if>
      <if test="CJSJ_U != null" >
        CJSJ_U,
      </if>
      <if test="CJR_UU != null" >
        CJR_UU,
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U,
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U,
      </if>
      <if test="WHR_UU != null" >
        WHR_UU,
      </if>
      <if test="SJC_UU != null" >
        SJC_UU,
      </if>
      <if test="JLZT_U != null" >
        JLZT_U,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        #{FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="SHBH_U != null" >
        #{SHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="SHMC_U != null" >
        #{SHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="YB_UUU != null" >
        #{YB_UUU,jdbcType=VARCHAR},
      </if>
      <if test="DZ_UUU != null" >
        #{DZ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SHLXBH != null" >
        #{SHLXBH,jdbcType=VARCHAR},
      </if>
      <if test="KHBH_U != null" >
        #{KHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="KHMC_U != null" >
        #{KHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="ZZJGDM != null" >
        #{ZZJGDM,jdbcType=VARCHAR},
      </if>
      <if test="GLRXM_ != null" >
        #{GLRXM_,jdbcType=VARCHAR},
      </if>
      <if test="GLRDH_ != null" >
        #{GLRDH_,jdbcType=VARCHAR},
      </if>
      <if test="DQYE_U != null" >
        #{DQYE_U,jdbcType=DECIMAL},
      </if>
      <if test="SHDLBZ != null" >
        #{SHDLBZ,jdbcType=VARCHAR},
      </if>
      <if test="SHMM_U != null" >
        #{SHMM_U,jdbcType=VARCHAR},
      </if>
      <if test="IP_UUU != null" >
        #{IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SCDLRQ != null" >
        #{SCDLRQ,jdbcType=DATE},
      </if>
      <if test="SCDLSJ != null" >
        #{SCDLSJ,jdbcType=TIME},
      </if>
      <if test="SCJYRQ != null" >
        #{SCJYRQ,jdbcType=DATE},
      </if>
      <if test="SCJYXH != null" >
        #{SCJYXH,jdbcType=INTEGER},
      </if>
      <if test="CJRQ_U != null" >
        #{CJRQ_U,jdbcType=DATE},
      </if>
      <if test="CJSJ_U != null" >
        #{CJSJ_U,jdbcType=TIME},
      </if>
      <if test="CJR_UU != null" >
        #{CJR_UU,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="XQBHServer.Server.Table.Model.DSHXXExample" resultType="java.lang.Integer" >
    select count(*) from dshxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dshxx
    <set >
      <if test="record.FRDM_U != null" >
        FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="record.SHBH_U != null" >
        SHBH_U = #{record.SHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="record.SHMC_U != null" >
        SHMC_U = #{record.SHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="record.YB_UUU != null" >
        YB_UUU = #{record.YB_UUU,jdbcType=VARCHAR},
      </if>
      <if test="record.DZ_UUU != null" >
        DZ_UUU = #{record.DZ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="record.SHLXBH != null" >
        SHLXBH = #{record.SHLXBH,jdbcType=VARCHAR},
      </if>
      <if test="record.KHBH_U != null" >
        KHBH_U = #{record.KHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="record.KHMC_U != null" >
        KHMC_U = #{record.KHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="record.ZZJGDM != null" >
        ZZJGDM = #{record.ZZJGDM,jdbcType=VARCHAR},
      </if>
      <if test="record.GLRXM_ != null" >
        GLRXM_ = #{record.GLRXM_,jdbcType=VARCHAR},
      </if>
      <if test="record.GLRDH_ != null" >
        GLRDH_ = #{record.GLRDH_,jdbcType=VARCHAR},
      </if>
      <if test="record.DQYE_U != null" >
        DQYE_U = #{record.DQYE_U,jdbcType=DECIMAL},
      </if>
      <if test="record.SHDLBZ != null" >
        SHDLBZ = #{record.SHDLBZ,jdbcType=VARCHAR},
      </if>
      <if test="record.SHMM_U != null" >
        SHMM_U = #{record.SHMM_U,jdbcType=VARCHAR},
      </if>
      <if test="record.IP_UUU != null" >
        IP_UUU = #{record.IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="record.SCDLRQ != null" >
        SCDLRQ = #{record.SCDLRQ,jdbcType=DATE},
      </if>
      <if test="record.SCDLSJ != null" >
        SCDLSJ = #{record.SCDLSJ,jdbcType=TIME},
      </if>
      <if test="record.SCJYRQ != null" >
        SCJYRQ = #{record.SCJYRQ,jdbcType=DATE},
      </if>
      <if test="record.SCJYXH != null" >
        SCJYXH = #{record.SCJYXH,jdbcType=INTEGER},
      </if>
      <if test="record.CJRQ_U != null" >
        CJRQ_U = #{record.CJRQ_U,jdbcType=DATE},
      </if>
      <if test="record.CJSJ_U != null" >
        CJSJ_U = #{record.CJSJ_U,jdbcType=TIME},
      </if>
      <if test="record.CJR_UU != null" >
        CJR_UU = #{record.CJR_UU,jdbcType=VARCHAR},
      </if>
      <if test="record.WHRQ_U != null" >
        WHRQ_U = #{record.WHRQ_U,jdbcType=DATE},
      </if>
      <if test="record.WHSJ_U != null" >
        WHSJ_U = #{record.WHSJ_U,jdbcType=TIME},
      </if>
      <if test="record.WHR_UU != null" >
        WHR_UU = #{record.WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="record.SJC_UU != null" >
        SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="record.JLZT_U != null" >
        JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dshxx
    set FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      SHBH_U = #{record.SHBH_U,jdbcType=VARCHAR},
      SHMC_U = #{record.SHMC_U,jdbcType=VARCHAR},
      YB_UUU = #{record.YB_UUU,jdbcType=VARCHAR},
      DZ_UUU = #{record.DZ_UUU,jdbcType=VARCHAR},
      SHLXBH = #{record.SHLXBH,jdbcType=VARCHAR},
      KHBH_U = #{record.KHBH_U,jdbcType=VARCHAR},
      KHMC_U = #{record.KHMC_U,jdbcType=VARCHAR},
      ZZJGDM = #{record.ZZJGDM,jdbcType=VARCHAR},
      GLRXM_ = #{record.GLRXM_,jdbcType=VARCHAR},
      GLRDH_ = #{record.GLRDH_,jdbcType=VARCHAR},
      DQYE_U = #{record.DQYE_U,jdbcType=DECIMAL},
      SHDLBZ = #{record.SHDLBZ,jdbcType=VARCHAR},
      SHMM_U = #{record.SHMM_U,jdbcType=VARCHAR},
      IP_UUU = #{record.IP_UUU,jdbcType=VARCHAR},
      SCDLRQ = #{record.SCDLRQ,jdbcType=DATE},
      SCDLSJ = #{record.SCDLSJ,jdbcType=TIME},
      SCJYRQ = #{record.SCJYRQ,jdbcType=DATE},
      SCJYXH = #{record.SCJYXH,jdbcType=INTEGER},
      CJRQ_U = #{record.CJRQ_U,jdbcType=DATE},
      CJSJ_U = #{record.CJSJ_U,jdbcType=TIME},
      CJR_UU = #{record.CJR_UU,jdbcType=VARCHAR},
      WHRQ_U = #{record.WHRQ_U,jdbcType=DATE},
      WHSJ_U = #{record.WHSJ_U,jdbcType=TIME},
      WHR_UU = #{record.WHR_UU,jdbcType=VARCHAR},
      SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="XQBHServer.Server.Table.Model.DSHXX" >
    update dshxx
    <set >
      <if test="SHMC_U != null" >
        SHMC_U = #{SHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="YB_UUU != null" >
        YB_UUU = #{YB_UUU,jdbcType=VARCHAR},
      </if>
      <if test="DZ_UUU != null" >
        DZ_UUU = #{DZ_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SHLXBH != null" >
        SHLXBH = #{SHLXBH,jdbcType=VARCHAR},
      </if>
      <if test="KHBH_U != null" >
        KHBH_U = #{KHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="KHMC_U != null" >
        KHMC_U = #{KHMC_U,jdbcType=VARCHAR},
      </if>
      <if test="ZZJGDM != null" >
        ZZJGDM = #{ZZJGDM,jdbcType=VARCHAR},
      </if>
      <if test="GLRXM_ != null" >
        GLRXM_ = #{GLRXM_,jdbcType=VARCHAR},
      </if>
      <if test="GLRDH_ != null" >
        GLRDH_ = #{GLRDH_,jdbcType=VARCHAR},
      </if>
      <if test="DQYE_U != null" >
        DQYE_U = #{DQYE_U,jdbcType=DECIMAL},
      </if>
      <if test="SHDLBZ != null" >
        SHDLBZ = #{SHDLBZ,jdbcType=VARCHAR},
      </if>
      <if test="SHMM_U != null" >
        SHMM_U = #{SHMM_U,jdbcType=VARCHAR},
      </if>
      <if test="IP_UUU != null" >
        IP_UUU = #{IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SCDLRQ != null" >
        SCDLRQ = #{SCDLRQ,jdbcType=DATE},
      </if>
      <if test="SCDLSJ != null" >
        SCDLSJ = #{SCDLSJ,jdbcType=TIME},
      </if>
      <if test="SCJYRQ != null" >
        SCJYRQ = #{SCJYRQ,jdbcType=DATE},
      </if>
      <if test="SCJYXH != null" >
        SCJYXH = #{SCJYXH,jdbcType=INTEGER},
      </if>
      <if test="CJRQ_U != null" >
        CJRQ_U = #{CJRQ_U,jdbcType=DATE},
      </if>
      <if test="CJSJ_U != null" >
        CJSJ_U = #{CJSJ_U,jdbcType=TIME},
      </if>
      <if test="CJR_UU != null" >
        CJR_UU = #{CJR_UU,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        JLZT_U = #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </set>
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and SHBH_U = #{SHBH_U,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.DSHXX" >
    update dshxx
    set SHMC_U = #{SHMC_U,jdbcType=VARCHAR},
      YB_UUU = #{YB_UUU,jdbcType=VARCHAR},
      DZ_UUU = #{DZ_UUU,jdbcType=VARCHAR},
      SHLXBH = #{SHLXBH,jdbcType=VARCHAR},
      KHBH_U = #{KHBH_U,jdbcType=VARCHAR},
      KHMC_U = #{KHMC_U,jdbcType=VARCHAR},
      ZZJGDM = #{ZZJGDM,jdbcType=VARCHAR},
      GLRXM_ = #{GLRXM_,jdbcType=VARCHAR},
      GLRDH_ = #{GLRDH_,jdbcType=VARCHAR},
      DQYE_U = #{DQYE_U,jdbcType=DECIMAL},
      SHDLBZ = #{SHDLBZ,jdbcType=VARCHAR},
      SHMM_U = #{SHMM_U,jdbcType=VARCHAR},
      IP_UUU = #{IP_UUU,jdbcType=VARCHAR},
      SCDLRQ = #{SCDLRQ,jdbcType=DATE},
      SCDLSJ = #{SCDLSJ,jdbcType=TIME},
      SCJYRQ = #{SCJYRQ,jdbcType=DATE},
      SCJYXH = #{SCJYXH,jdbcType=INTEGER},
      CJRQ_U = #{CJRQ_U,jdbcType=DATE},
      CJSJ_U = #{CJSJ_U,jdbcType=TIME},
      CJR_UU = #{CJR_UU,jdbcType=VARCHAR},
      WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{JLZT_U,jdbcType=VARCHAR}
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and SHBH_U = #{SHBH_U,jdbcType=VARCHAR}
  </update>
</mapper>