<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="XQBHServer.Server.Table.Mapper.MJYBWMapper" >
  <resultMap id="BaseResultMap" type="XQBHServer.Server.Table.Model.MJYBW" >
    <id column="FRDM_U" property="FRDM_U" jdbcType="VARCHAR" />
    <id column="QTRQ_U" property="QTRQ_U" jdbcType="DATE" />
    <id column="QTLS_U" property="QTLS_U" jdbcType="VARCHAR" />
    <id column="XH_UUU" property="XH_UUU" jdbcType="INTEGER" />
    <result column="QTJYM_" property="QTJYM_" jdbcType="VARCHAR" />
    <result column="DYJYM_" property="DYJYM_" jdbcType="VARCHAR" />
    <result column="BWLX_U" property="BWLX_U" jdbcType="VARCHAR" />
    <result column="CWDM_U" property="CWDM_U" jdbcType="VARCHAR" />
    <result column="ZCWDM_" property="ZCWDM_" jdbcType="VARCHAR" />
    <result column="CWXX_U" property="CWXX_U" jdbcType="VARCHAR" />
    <result column="ZDBH_U" property="ZDBH_U" jdbcType="VARCHAR" />
    <result column="IP_UUU" property="IP_UUU" jdbcType="VARCHAR" />
    <result column="SJC_UU" property="SJC_UU" jdbcType="TIMESTAMP" />
    <result column="JLZT_U" property="JLZT_U" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="XQBHServer.Server.Table.Model.MJYBW" extends="BaseResultMap" >
    <result column="BW_UUU" property="BW_UUU" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FRDM_U, QTRQ_U, QTLS_U, XH_UUU, QTJYM_, DYJYM_, BWLX_U, CWDM_U, ZCWDM_, CWXX_U, ZDBH_U, 
    IP_UUU, SJC_UU, JLZT_U
  </sql>
  <sql id="Blob_Column_List" >
    BW_UUU
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="XQBHServer.Server.Table.Model.MJYBWExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mjybw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="XQBHServer.Server.Table.Model.MJYBWExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mjybw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="XQBHServer.Server.Table.Model.MJYBWKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mjybw
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and QTRQ_U = #{QTRQ_U,jdbcType=DATE}
      and QTLS_U = #{QTLS_U,jdbcType=VARCHAR}
      and XH_UUU = #{XH_UUU,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.MJYBWKey" >
    delete from mjybw
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and QTRQ_U = #{QTRQ_U,jdbcType=DATE}
      and QTLS_U = #{QTLS_U,jdbcType=VARCHAR}
      and XH_UUU = #{XH_UUU,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="XQBHServer.Server.Table.Model.MJYBWExample" >
    delete from mjybw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="XQBHServer.Server.Table.Model.MJYBW" >
    insert into mjybw (FRDM_U, QTRQ_U, QTLS_U, 
      XH_UUU, QTJYM_, DYJYM_, 
      BWLX_U, CWDM_U, ZCWDM_, 
      CWXX_U, ZDBH_U, IP_UUU, 
      SJC_UU, JLZT_U, BW_UUU
      )
    values (#{FRDM_U,jdbcType=VARCHAR}, #{QTRQ_U,jdbcType=DATE}, #{QTLS_U,jdbcType=VARCHAR}, 
      #{XH_UUU,jdbcType=INTEGER}, #{QTJYM_,jdbcType=VARCHAR}, #{DYJYM_,jdbcType=VARCHAR}, 
      #{BWLX_U,jdbcType=VARCHAR}, #{CWDM_U,jdbcType=VARCHAR}, #{ZCWDM_,jdbcType=VARCHAR}, 
      #{CWXX_U,jdbcType=VARCHAR}, #{ZDBH_U,jdbcType=VARCHAR}, #{IP_UUU,jdbcType=VARCHAR}, 
      #{SJC_UU,jdbcType=TIMESTAMP}, #{JLZT_U,jdbcType=VARCHAR}, #{BW_UUU,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="XQBHServer.Server.Table.Model.MJYBW" >
    insert into mjybw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        FRDM_U,
      </if>
      <if test="QTRQ_U != null" >
        QTRQ_U,
      </if>
      <if test="QTLS_U != null" >
        QTLS_U,
      </if>
      <if test="XH_UUU != null" >
        XH_UUU,
      </if>
      <if test="QTJYM_ != null" >
        QTJYM_,
      </if>
      <if test="DYJYM_ != null" >
        DYJYM_,
      </if>
      <if test="BWLX_U != null" >
        BWLX_U,
      </if>
      <if test="CWDM_U != null" >
        CWDM_U,
      </if>
      <if test="ZCWDM_ != null" >
        ZCWDM_,
      </if>
      <if test="CWXX_U != null" >
        CWXX_U,
      </if>
      <if test="ZDBH_U != null" >
        ZDBH_U,
      </if>
      <if test="IP_UUU != null" >
        IP_UUU,
      </if>
      <if test="SJC_UU != null" >
        SJC_UU,
      </if>
      <if test="JLZT_U != null" >
        JLZT_U,
      </if>
      <if test="BW_UUU != null" >
        BW_UUU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        #{FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="QTRQ_U != null" >
        #{QTRQ_U,jdbcType=DATE},
      </if>
      <if test="QTLS_U != null" >
        #{QTLS_U,jdbcType=VARCHAR},
      </if>
      <if test="XH_UUU != null" >
        #{XH_UUU,jdbcType=INTEGER},
      </if>
      <if test="QTJYM_ != null" >
        #{QTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="DYJYM_ != null" >
        #{DYJYM_,jdbcType=VARCHAR},
      </if>
      <if test="BWLX_U != null" >
        #{BWLX_U,jdbcType=VARCHAR},
      </if>
      <if test="CWDM_U != null" >
        #{CWDM_U,jdbcType=VARCHAR},
      </if>
      <if test="ZCWDM_ != null" >
        #{ZCWDM_,jdbcType=VARCHAR},
      </if>
      <if test="CWXX_U != null" >
        #{CWXX_U,jdbcType=VARCHAR},
      </if>
      <if test="ZDBH_U != null" >
        #{ZDBH_U,jdbcType=VARCHAR},
      </if>
      <if test="IP_UUU != null" >
        #{IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        #{JLZT_U,jdbcType=VARCHAR},
      </if>
      <if test="BW_UUU != null" >
        #{BW_UUU,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="XQBHServer.Server.Table.Model.MJYBWExample" resultType="java.lang.Integer" >
    select count(*) from mjybw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mjybw
    <set >
      <if test="record.FRDM_U != null" >
        FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="record.QTRQ_U != null" >
        QTRQ_U = #{record.QTRQ_U,jdbcType=DATE},
      </if>
      <if test="record.QTLS_U != null" >
        QTLS_U = #{record.QTLS_U,jdbcType=VARCHAR},
      </if>
      <if test="record.XH_UUU != null" >
        XH_UUU = #{record.XH_UUU,jdbcType=INTEGER},
      </if>
      <if test="record.QTJYM_ != null" >
        QTJYM_ = #{record.QTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="record.DYJYM_ != null" >
        DYJYM_ = #{record.DYJYM_,jdbcType=VARCHAR},
      </if>
      <if test="record.BWLX_U != null" >
        BWLX_U = #{record.BWLX_U,jdbcType=VARCHAR},
      </if>
      <if test="record.CWDM_U != null" >
        CWDM_U = #{record.CWDM_U,jdbcType=VARCHAR},
      </if>
      <if test="record.ZCWDM_ != null" >
        ZCWDM_ = #{record.ZCWDM_,jdbcType=VARCHAR},
      </if>
      <if test="record.CWXX_U != null" >
        CWXX_U = #{record.CWXX_U,jdbcType=VARCHAR},
      </if>
      <if test="record.ZDBH_U != null" >
        ZDBH_U = #{record.ZDBH_U,jdbcType=VARCHAR},
      </if>
      <if test="record.IP_UUU != null" >
        IP_UUU = #{record.IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="record.SJC_UU != null" >
        SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="record.JLZT_U != null" >
        JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR},
      </if>
      <if test="record.BW_UUU != null" >
        BW_UUU = #{record.BW_UUU,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update mjybw
    set FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      QTRQ_U = #{record.QTRQ_U,jdbcType=DATE},
      QTLS_U = #{record.QTLS_U,jdbcType=VARCHAR},
      XH_UUU = #{record.XH_UUU,jdbcType=INTEGER},
      QTJYM_ = #{record.QTJYM_,jdbcType=VARCHAR},
      DYJYM_ = #{record.DYJYM_,jdbcType=VARCHAR},
      BWLX_U = #{record.BWLX_U,jdbcType=VARCHAR},
      CWDM_U = #{record.CWDM_U,jdbcType=VARCHAR},
      ZCWDM_ = #{record.ZCWDM_,jdbcType=VARCHAR},
      CWXX_U = #{record.CWXX_U,jdbcType=VARCHAR},
      ZDBH_U = #{record.ZDBH_U,jdbcType=VARCHAR},
      IP_UUU = #{record.IP_UUU,jdbcType=VARCHAR},
      SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR},
      BW_UUU = #{record.BW_UUU,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mjybw
    set FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      QTRQ_U = #{record.QTRQ_U,jdbcType=DATE},
      QTLS_U = #{record.QTLS_U,jdbcType=VARCHAR},
      XH_UUU = #{record.XH_UUU,jdbcType=INTEGER},
      QTJYM_ = #{record.QTJYM_,jdbcType=VARCHAR},
      DYJYM_ = #{record.DYJYM_,jdbcType=VARCHAR},
      BWLX_U = #{record.BWLX_U,jdbcType=VARCHAR},
      CWDM_U = #{record.CWDM_U,jdbcType=VARCHAR},
      ZCWDM_ = #{record.ZCWDM_,jdbcType=VARCHAR},
      CWXX_U = #{record.CWXX_U,jdbcType=VARCHAR},
      ZDBH_U = #{record.ZDBH_U,jdbcType=VARCHAR},
      IP_UUU = #{record.IP_UUU,jdbcType=VARCHAR},
      SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="XQBHServer.Server.Table.Model.MJYBW" >
    update mjybw
    <set >
      <if test="QTJYM_ != null" >
        QTJYM_ = #{QTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="DYJYM_ != null" >
        DYJYM_ = #{DYJYM_,jdbcType=VARCHAR},
      </if>
      <if test="BWLX_U != null" >
        BWLX_U = #{BWLX_U,jdbcType=VARCHAR},
      </if>
      <if test="CWDM_U != null" >
        CWDM_U = #{CWDM_U,jdbcType=VARCHAR},
      </if>
      <if test="ZCWDM_ != null" >
        ZCWDM_ = #{ZCWDM_,jdbcType=VARCHAR},
      </if>
      <if test="CWXX_U != null" >
        CWXX_U = #{CWXX_U,jdbcType=VARCHAR},
      </if>
      <if test="ZDBH_U != null" >
        ZDBH_U = #{ZDBH_U,jdbcType=VARCHAR},
      </if>
      <if test="IP_UUU != null" >
        IP_UUU = #{IP_UUU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        JLZT_U = #{JLZT_U,jdbcType=VARCHAR},
      </if>
      <if test="BW_UUU != null" >
        BW_UUU = #{BW_UUU,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and QTRQ_U = #{QTRQ_U,jdbcType=DATE}
      and QTLS_U = #{QTLS_U,jdbcType=VARCHAR}
      and XH_UUU = #{XH_UUU,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="XQBHServer.Server.Table.Model.MJYBW" >
    update mjybw
    set QTJYM_ = #{QTJYM_,jdbcType=VARCHAR},
      DYJYM_ = #{DYJYM_,jdbcType=VARCHAR},
      BWLX_U = #{BWLX_U,jdbcType=VARCHAR},
      CWDM_U = #{CWDM_U,jdbcType=VARCHAR},
      ZCWDM_ = #{ZCWDM_,jdbcType=VARCHAR},
      CWXX_U = #{CWXX_U,jdbcType=VARCHAR},
      ZDBH_U = #{ZDBH_U,jdbcType=VARCHAR},
      IP_UUU = #{IP_UUU,jdbcType=VARCHAR},
      SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{JLZT_U,jdbcType=VARCHAR},
      BW_UUU = #{BW_UUU,jdbcType=LONGVARBINARY}
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and QTRQ_U = #{QTRQ_U,jdbcType=DATE}
      and QTLS_U = #{QTLS_U,jdbcType=VARCHAR}
      and XH_UUU = #{XH_UUU,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.MJYBW" >
    update mjybw
    set QTJYM_ = #{QTJYM_,jdbcType=VARCHAR},
      DYJYM_ = #{DYJYM_,jdbcType=VARCHAR},
      BWLX_U = #{BWLX_U,jdbcType=VARCHAR},
      CWDM_U = #{CWDM_U,jdbcType=VARCHAR},
      ZCWDM_ = #{ZCWDM_,jdbcType=VARCHAR},
      CWXX_U = #{CWXX_U,jdbcType=VARCHAR},
      ZDBH_U = #{ZDBH_U,jdbcType=VARCHAR},
      IP_UUU = #{IP_UUU,jdbcType=VARCHAR},
      SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{JLZT_U,jdbcType=VARCHAR}
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and QTRQ_U = #{QTRQ_U,jdbcType=DATE}
      and QTLS_U = #{QTLS_U,jdbcType=VARCHAR}
      and XH_UUU = #{XH_UUU,jdbcType=INTEGER}
  </update>
</mapper>