<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="XQBHServer.Server.Table.Mapper.MJYMXMapper" >
  <resultMap id="BaseResultMap" type="XQBHServer.Server.Table.Model.MJYMX" >
    <id column="FRDM_U" property="FRDM_U" jdbcType="VARCHAR" />
    <id column="JYRQ_U" property="JYRQ_U" jdbcType="DATE" />
    <id column="JYLS_U" property="JYLS_U" jdbcType="VARCHAR" />
    <result column="JYLX_U" property="JYLX_U" jdbcType="VARCHAR" />
    <result column="ZDBH_U" property="ZDBH_U" jdbcType="VARCHAR" />
    <result column="JYSJ_U" property="JYSJ_U" jdbcType="TIME" />
    <result column="ZFBDDH" property="ZFBDDH" jdbcType="VARCHAR" />
    <result column="DDBT_U" property="DDBT_U" jdbcType="VARCHAR" />
    <result column="SPXX_U" property="SPXX_U" jdbcType="VARCHAR" />
    <result column="HTJYM_" property="HTJYM_" jdbcType="VARCHAR" />
    <result column="JYJE_U" property="JYJE_U" jdbcType="DECIMAL" />
    <result column="SHBH_U" property="SHBH_U" jdbcType="VARCHAR" />
    <result column="EWM_UU" property="EWM_UU" jdbcType="VARCHAR" />
    <result column="FKRZH_" property="FKRZH_" jdbcType="VARCHAR" />
    <result column="SKRZH_" property="SKRZH_" jdbcType="VARCHAR" />
    <result column="QTRQ_U" property="QTRQ_U" jdbcType="DATE" />
    <result column="QTLS_U" property="QTLS_U" jdbcType="VARCHAR" />
    <result column="QTJYM_" property="QTJYM_" jdbcType="VARCHAR" />
    <result column="WHRQ_U" property="WHRQ_U" jdbcType="DATE" />
    <result column="WHSJ_U" property="WHSJ_U" jdbcType="TIME" />
    <result column="WHR_UU" property="WHR_UU" jdbcType="VARCHAR" />
    <result column="SJC_UU" property="SJC_UU" jdbcType="TIMESTAMP" />
    <result column="JLZT_U" property="JLZT_U" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FRDM_U, JYRQ_U, JYLS_U, JYLX_U, ZDBH_U, JYSJ_U, ZFBDDH, DDBT_U, SPXX_U, HTJYM_, JYJE_U, 
    SHBH_U, EWM_UU, FKRZH_, SKRZH_, QTRQ_U, QTLS_U, QTJYM_, WHRQ_U, WHSJ_U, WHR_UU, SJC_UU, 
    JLZT_U
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="XQBHServer.Server.Table.Model.MJYMXExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mjymx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="XQBHServer.Server.Table.Model.MJYMXKey" >
    select 
    <include refid="Base_Column_List" />
    from mjymx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and JYRQ_U = #{JYRQ_U,jdbcType=DATE}
      and JYLS_U = #{JYLS_U,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.MJYMXKey" >
    delete from mjymx
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and JYRQ_U = #{JYRQ_U,jdbcType=DATE}
      and JYLS_U = #{JYLS_U,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="XQBHServer.Server.Table.Model.MJYMXExample" >
    delete from mjymx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="XQBHServer.Server.Table.Model.MJYMX" >
    insert into mjymx (FRDM_U, JYRQ_U, JYLS_U, 
      JYLX_U, ZDBH_U, JYSJ_U, 
      ZFBDDH, DDBT_U, SPXX_U, 
      HTJYM_, JYJE_U, SHBH_U, 
      EWM_UU, FKRZH_, SKRZH_, 
      QTRQ_U, QTLS_U, QTJYM_, 
      WHRQ_U, WHSJ_U, WHR_UU, SJC_UU, 
      JLZT_U)
    values (#{FRDM_U,jdbcType=VARCHAR}, #{JYRQ_U,jdbcType=DATE}, #{JYLS_U,jdbcType=VARCHAR}, 
      #{JYLX_U,jdbcType=VARCHAR}, #{ZDBH_U,jdbcType=VARCHAR}, #{JYSJ_U,jdbcType=TIME}, 
      #{ZFBDDH,jdbcType=VARCHAR}, #{DDBT_U,jdbcType=VARCHAR}, #{SPXX_U,jdbcType=VARCHAR}, 
      #{HTJYM_,jdbcType=VARCHAR}, #{JYJE_U,jdbcType=DECIMAL}, #{SHBH_U,jdbcType=VARCHAR}, 
      #{EWM_UU,jdbcType=VARCHAR}, #{FKRZH_,jdbcType=VARCHAR}, #{SKRZH_,jdbcType=VARCHAR}, 
      #{QTRQ_U,jdbcType=DATE}, #{QTLS_U,jdbcType=VARCHAR}, #{QTJYM_,jdbcType=VARCHAR}, 
      #{WHRQ_U,jdbcType=DATE}, #{WHSJ_U,jdbcType=TIME}, #{WHR_UU,jdbcType=VARCHAR}, #{SJC_UU,jdbcType=TIMESTAMP}, 
      #{JLZT_U,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="XQBHServer.Server.Table.Model.MJYMX" >
    insert into mjymx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        FRDM_U,
      </if>
      <if test="JYRQ_U != null" >
        JYRQ_U,
      </if>
      <if test="JYLS_U != null" >
        JYLS_U,
      </if>
      <if test="JYLX_U != null" >
        JYLX_U,
      </if>
      <if test="ZDBH_U != null" >
        ZDBH_U,
      </if>
      <if test="JYSJ_U != null" >
        JYSJ_U,
      </if>
      <if test="ZFBDDH != null" >
        ZFBDDH,
      </if>
      <if test="DDBT_U != null" >
        DDBT_U,
      </if>
      <if test="SPXX_U != null" >
        SPXX_U,
      </if>
      <if test="HTJYM_ != null" >
        HTJYM_,
      </if>
      <if test="JYJE_U != null" >
        JYJE_U,
      </if>
      <if test="SHBH_U != null" >
        SHBH_U,
      </if>
      <if test="EWM_UU != null" >
        EWM_UU,
      </if>
      <if test="FKRZH_ != null" >
        FKRZH_,
      </if>
      <if test="SKRZH_ != null" >
        SKRZH_,
      </if>
      <if test="QTRQ_U != null" >
        QTRQ_U,
      </if>
      <if test="QTLS_U != null" >
        QTLS_U,
      </if>
      <if test="QTJYM_ != null" >
        QTJYM_,
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U,
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U,
      </if>
      <if test="WHR_UU != null" >
        WHR_UU,
      </if>
      <if test="SJC_UU != null" >
        SJC_UU,
      </if>
      <if test="JLZT_U != null" >
        JLZT_U,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FRDM_U != null" >
        #{FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="JYRQ_U != null" >
        #{JYRQ_U,jdbcType=DATE},
      </if>
      <if test="JYLS_U != null" >
        #{JYLS_U,jdbcType=VARCHAR},
      </if>
      <if test="JYLX_U != null" >
        #{JYLX_U,jdbcType=VARCHAR},
      </if>
      <if test="ZDBH_U != null" >
        #{ZDBH_U,jdbcType=VARCHAR},
      </if>
      <if test="JYSJ_U != null" >
        #{JYSJ_U,jdbcType=TIME},
      </if>
      <if test="ZFBDDH != null" >
        #{ZFBDDH,jdbcType=VARCHAR},
      </if>
      <if test="DDBT_U != null" >
        #{DDBT_U,jdbcType=VARCHAR},
      </if>
      <if test="SPXX_U != null" >
        #{SPXX_U,jdbcType=VARCHAR},
      </if>
      <if test="HTJYM_ != null" >
        #{HTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="JYJE_U != null" >
        #{JYJE_U,jdbcType=DECIMAL},
      </if>
      <if test="SHBH_U != null" >
        #{SHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="EWM_UU != null" >
        #{EWM_UU,jdbcType=VARCHAR},
      </if>
      <if test="FKRZH_ != null" >
        #{FKRZH_,jdbcType=VARCHAR},
      </if>
      <if test="SKRZH_ != null" >
        #{SKRZH_,jdbcType=VARCHAR},
      </if>
      <if test="QTRQ_U != null" >
        #{QTRQ_U,jdbcType=DATE},
      </if>
      <if test="QTLS_U != null" >
        #{QTLS_U,jdbcType=VARCHAR},
      </if>
      <if test="QTJYM_ != null" >
        #{QTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="XQBHServer.Server.Table.Model.MJYMXExample" resultType="java.lang.Integer" >
    select count(*) from mjymx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mjymx
    <set >
      <if test="record.FRDM_U != null" >
        FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      </if>
      <if test="record.JYRQ_U != null" >
        JYRQ_U = #{record.JYRQ_U,jdbcType=DATE},
      </if>
      <if test="record.JYLS_U != null" >
        JYLS_U = #{record.JYLS_U,jdbcType=VARCHAR},
      </if>
      <if test="record.JYLX_U != null" >
        JYLX_U = #{record.JYLX_U,jdbcType=VARCHAR},
      </if>
      <if test="record.ZDBH_U != null" >
        ZDBH_U = #{record.ZDBH_U,jdbcType=VARCHAR},
      </if>
      <if test="record.JYSJ_U != null" >
        JYSJ_U = #{record.JYSJ_U,jdbcType=TIME},
      </if>
      <if test="record.ZFBDDH != null" >
        ZFBDDH = #{record.ZFBDDH,jdbcType=VARCHAR},
      </if>
      <if test="record.DDBT_U != null" >
        DDBT_U = #{record.DDBT_U,jdbcType=VARCHAR},
      </if>
      <if test="record.SPXX_U != null" >
        SPXX_U = #{record.SPXX_U,jdbcType=VARCHAR},
      </if>
      <if test="record.HTJYM_ != null" >
        HTJYM_ = #{record.HTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="record.JYJE_U != null" >
        JYJE_U = #{record.JYJE_U,jdbcType=DECIMAL},
      </if>
      <if test="record.SHBH_U != null" >
        SHBH_U = #{record.SHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="record.EWM_UU != null" >
        EWM_UU = #{record.EWM_UU,jdbcType=VARCHAR},
      </if>
      <if test="record.FKRZH_ != null" >
        FKRZH_ = #{record.FKRZH_,jdbcType=VARCHAR},
      </if>
      <if test="record.SKRZH_ != null" >
        SKRZH_ = #{record.SKRZH_,jdbcType=VARCHAR},
      </if>
      <if test="record.QTRQ_U != null" >
        QTRQ_U = #{record.QTRQ_U,jdbcType=DATE},
      </if>
      <if test="record.QTLS_U != null" >
        QTLS_U = #{record.QTLS_U,jdbcType=VARCHAR},
      </if>
      <if test="record.QTJYM_ != null" >
        QTJYM_ = #{record.QTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="record.WHRQ_U != null" >
        WHRQ_U = #{record.WHRQ_U,jdbcType=DATE},
      </if>
      <if test="record.WHSJ_U != null" >
        WHSJ_U = #{record.WHSJ_U,jdbcType=TIME},
      </if>
      <if test="record.WHR_UU != null" >
        WHR_UU = #{record.WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="record.SJC_UU != null" >
        SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="record.JLZT_U != null" >
        JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mjymx
    set FRDM_U = #{record.FRDM_U,jdbcType=VARCHAR},
      JYRQ_U = #{record.JYRQ_U,jdbcType=DATE},
      JYLS_U = #{record.JYLS_U,jdbcType=VARCHAR},
      JYLX_U = #{record.JYLX_U,jdbcType=VARCHAR},
      ZDBH_U = #{record.ZDBH_U,jdbcType=VARCHAR},
      JYSJ_U = #{record.JYSJ_U,jdbcType=TIME},
      ZFBDDH = #{record.ZFBDDH,jdbcType=VARCHAR},
      DDBT_U = #{record.DDBT_U,jdbcType=VARCHAR},
      SPXX_U = #{record.SPXX_U,jdbcType=VARCHAR},
      HTJYM_ = #{record.HTJYM_,jdbcType=VARCHAR},
      JYJE_U = #{record.JYJE_U,jdbcType=DECIMAL},
      SHBH_U = #{record.SHBH_U,jdbcType=VARCHAR},
      EWM_UU = #{record.EWM_UU,jdbcType=VARCHAR},
      FKRZH_ = #{record.FKRZH_,jdbcType=VARCHAR},
      SKRZH_ = #{record.SKRZH_,jdbcType=VARCHAR},
      QTRQ_U = #{record.QTRQ_U,jdbcType=DATE},
      QTLS_U = #{record.QTLS_U,jdbcType=VARCHAR},
      QTJYM_ = #{record.QTJYM_,jdbcType=VARCHAR},
      WHRQ_U = #{record.WHRQ_U,jdbcType=DATE},
      WHSJ_U = #{record.WHSJ_U,jdbcType=TIME},
      WHR_UU = #{record.WHR_UU,jdbcType=VARCHAR},
      SJC_UU = #{record.SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{record.JLZT_U,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="XQBHServer.Server.Table.Model.MJYMX" >
    update mjymx
    <set >
      <if test="JYLX_U != null" >
        JYLX_U = #{JYLX_U,jdbcType=VARCHAR},
      </if>
      <if test="ZDBH_U != null" >
        ZDBH_U = #{ZDBH_U,jdbcType=VARCHAR},
      </if>
      <if test="JYSJ_U != null" >
        JYSJ_U = #{JYSJ_U,jdbcType=TIME},
      </if>
      <if test="ZFBDDH != null" >
        ZFBDDH = #{ZFBDDH,jdbcType=VARCHAR},
      </if>
      <if test="DDBT_U != null" >
        DDBT_U = #{DDBT_U,jdbcType=VARCHAR},
      </if>
      <if test="SPXX_U != null" >
        SPXX_U = #{SPXX_U,jdbcType=VARCHAR},
      </if>
      <if test="HTJYM_ != null" >
        HTJYM_ = #{HTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="JYJE_U != null" >
        JYJE_U = #{JYJE_U,jdbcType=DECIMAL},
      </if>
      <if test="SHBH_U != null" >
        SHBH_U = #{SHBH_U,jdbcType=VARCHAR},
      </if>
      <if test="EWM_UU != null" >
        EWM_UU = #{EWM_UU,jdbcType=VARCHAR},
      </if>
      <if test="FKRZH_ != null" >
        FKRZH_ = #{FKRZH_,jdbcType=VARCHAR},
      </if>
      <if test="SKRZH_ != null" >
        SKRZH_ = #{SKRZH_,jdbcType=VARCHAR},
      </if>
      <if test="QTRQ_U != null" >
        QTRQ_U = #{QTRQ_U,jdbcType=DATE},
      </if>
      <if test="QTLS_U != null" >
        QTLS_U = #{QTLS_U,jdbcType=VARCHAR},
      </if>
      <if test="QTJYM_ != null" >
        QTJYM_ = #{QTJYM_,jdbcType=VARCHAR},
      </if>
      <if test="WHRQ_U != null" >
        WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      </if>
      <if test="WHSJ_U != null" >
        WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      </if>
      <if test="WHR_UU != null" >
        WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      </if>
      <if test="SJC_UU != null" >
        SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      </if>
      <if test="JLZT_U != null" >
        JLZT_U = #{JLZT_U,jdbcType=VARCHAR},
      </if>
    </set>
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and JYRQ_U = #{JYRQ_U,jdbcType=DATE}
      and JYLS_U = #{JYLS_U,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="XQBHServer.Server.Table.Model.MJYMX" >
    update mjymx
    set JYLX_U = #{JYLX_U,jdbcType=VARCHAR},
      ZDBH_U = #{ZDBH_U,jdbcType=VARCHAR},
      JYSJ_U = #{JYSJ_U,jdbcType=TIME},
      ZFBDDH = #{ZFBDDH,jdbcType=VARCHAR},
      DDBT_U = #{DDBT_U,jdbcType=VARCHAR},
      SPXX_U = #{SPXX_U,jdbcType=VARCHAR},
      HTJYM_ = #{HTJYM_,jdbcType=VARCHAR},
      JYJE_U = #{JYJE_U,jdbcType=DECIMAL},
      SHBH_U = #{SHBH_U,jdbcType=VARCHAR},
      EWM_UU = #{EWM_UU,jdbcType=VARCHAR},
      FKRZH_ = #{FKRZH_,jdbcType=VARCHAR},
      SKRZH_ = #{SKRZH_,jdbcType=VARCHAR},
      QTRQ_U = #{QTRQ_U,jdbcType=DATE},
      QTLS_U = #{QTLS_U,jdbcType=VARCHAR},
      QTJYM_ = #{QTJYM_,jdbcType=VARCHAR},
      WHRQ_U = #{WHRQ_U,jdbcType=DATE},
      WHSJ_U = #{WHSJ_U,jdbcType=TIME},
      WHR_UU = #{WHR_UU,jdbcType=VARCHAR},
      SJC_UU = #{SJC_UU,jdbcType=TIMESTAMP},
      JLZT_U = #{JLZT_U,jdbcType=VARCHAR}
    where FRDM_U = #{FRDM_U,jdbcType=VARCHAR}
      and JYRQ_U = #{JYRQ_U,jdbcType=DATE}
      and JYLS_U = #{JYLS_U,jdbcType=VARCHAR}
  </update>
</mapper>