<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry location="C:\Users\jakal\.m2\repository\mysql\mysql-connector-java\5.1.29\mysql-connector-java-5.1.29.jar"/>


    <context id="context"  targetRuntime="MyBatis3">

        <property name="javaFileEncoding" value="GBK"/>
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="false"/>
        </commentGenerator>

        <!-- !!!! Database Configurations !!!! -->
        <!--<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://119.23.250.79:3306/db_xqbhserver" userId="xqbh" password="xqbhkf"/>-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/db_xqbhserver" userId="xqbh" password="xqbhkf"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- !!!! Model Configurations !!!! -->
        <javaModelGenerator targetPackage="XQBHServer.Server.Table.Model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="false"/>
            <!--<property name="trimStrings" value="true"/>-->
        </javaModelGenerator>

        <!-- !!!! mapper XML Configurations !!!! -->
        <sqlMapGenerator targetPackage="resources.table.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- !!!! mapper Interface Configurations !!!! -->
        <javaClientGenerator targetPackage="XQBHServer.Server.Table.Mapper" targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- !!!! Table Configurations !!!! -->
        <!--<table tableName="CCPSX" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false" domainObjectName="CCPSX" />-->
        <table tableName="CCPSX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CCPSX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CSHSX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CSHSX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CZDSX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CZDSX" >
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CXTCS" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CXTCS">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CDSRW" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CDSRW">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CRWCS" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CRWCS">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="DKHXX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="DKHXX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="DSHXX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="DSHXX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="DZDXX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="DZDXX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="DSHZH" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="DSHZH">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="MJYBW" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="MJYBW" enableInsert="true">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="MDZSJ" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="MDZSJ" >
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="MRWDJ" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="MRWDJ" >
            <property name="useActualColumnNames" value="true"/>
        </table>


    </context>
</generatorConfiguration>