<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry location="C:\Users\Administrator\.m2\repository\mysql\mysql-connector-java\5.1.29\mysql-connector-java-5.1.29.jar"/>


    <context id="context"  targetRuntime="MyBatis3">

        <property name="javaFileEncoding" value="UTF-8"/>
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="false"/>
        </commentGenerator>

        <!-- !!!! Database Configurations !!!! -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/db_xqbhserver" userId="root" password="rootkf"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- !!!! Model Configurations !!!! -->
        <javaModelGenerator targetPackage="XQBHServer.Server.Table.Model" targetProject="src/main/java/XQBHServer/Server/Table/Model">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="false"/>
            <!--<property name="trimStrings" value="true"/>-->
        </javaModelGenerator>

        <!-- !!!! Mapper XML Configurations !!!! -->
        <sqlMapGenerator targetPackage="resources.table.mapper" targetProject="src/main/java/resources/table/mapper">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations !!!! -->
        <javaClientGenerator targetPackage="XQBHServer.Server.Table.Mapper" targetProject="src/main/java/Server/Table/Mapper" type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- !!!! Table Configurations !!!! -->
        <!--<table tableName="CCPSX" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false" domainObjectName="CCPSX" />-->
        <table tableName="CCPSX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CCPSX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CSHSX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CSHSX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CZDSX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CZDSX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="DKHXX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="DKHXX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="DSHXX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="DSHXX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="DZDXX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="DZDXX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="MJYBW" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="MJYBW" enableInsert="true">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="MJYMX" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="MJYMX">
            <property name="useActualColumnNames" value="true"/>
        </table>
        <table tableName="CXTCS" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" domainObjectName="CXTCS">
            <property name="useActualColumnNames" value="true"/>
        </table>

    </context>
</generatorConfiguration>